.country-grid{
    width: 90%;
    margin: 40px auto;
    border-radius: 20px;
    background-color: #4f7c91;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.loading{
    text-align: center;
    margin: 50px;
}

.table-link{
    font-size: 20px;
    color: rgb(146, 36, 36);
    text-align: center;
}