.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    width: 45%;
    min-width: 240px;
    max-width: 350px;
    margin: 8% auto;
    background-color: lightpink;
}

.login-container h2{
    font-size: 30px;
    padding: 10px;
}

.login-container Form{
    width: 70%;
    padding: 20px;
    border-top: 1px dotted black;
}

.login-container Form p{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px dotted black;
}

.login-container Form label{
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
}

.login-container input{
    padding: 8px;
    border-radius: 20px;
    margin: 15px;
    outline: none;
}

.login-container button{
    width: 80px;
    font-weight: 600;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 30px;
}

.login-container .button{
    border-bottom: none;
}